
    <div class="wrapper">
        <aside id="sidebar" class="main_sidebar uncollapsed">
            <ul>
                <li id="toggleMenu" class="toggled" ><i class="fas fa-align-justify" onclick="myFunction()"></i><a href="#"></a></li>
                <li class="submenu"><i class="fab fa-product-hunt"></i><a routerLink="/products">producten</a></li>
                <li class="submenu"><i class="fas fa-users"></i><a routerLink="/users">leden</a></li>
            </ul>
        </aside>
        <div id="main_content" class="main_content_uncollapsed">
            <router-outlet></router-outlet>
        </div>
    </div>
   


